# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Flask app cache
results_parser.cpython-312.pyc
*.pyc
*.env
app/.env
text_to_animation/**/__pycache__/

# Model spam
app/model_output.txt
app/ball.txt

# Environment
venv
.venv
ball.txt
model_output.txt
